#body{
    background-color: rgb(67,94,57);
}
    :root{
        --text-color:rgb(67,94,57);
        --border-color:rgb(67,94,57);
        --lighGreen:rgb(81, 110, 71);
    }


    navBar{
        padding: 10px 0;
    }
    nav{
        overflow: hidden;
    }
    /* when nav menu is close */
        nav .flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 15px;
            border-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 2;
        }
    /* when nav menu is open */
        nav .nav-on-flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            padding: 15px;
            /* border-radius: 10px; */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            z-index: 2;
        }
        nav .logo-container{
            width: 150px;
        }
        nav .link-container{
            display: flex;
            align-items: center;
            gap: 15px;
            width: 40%;
        }
        nav .link-container .shop{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
        }
        nav .link-container .custom-dropdown{
            padding: 10px;
        }
        nav .link-container .custom-dropdown .category{
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.3rem;
            position: relative;
        }
        nav .link-container .custom-dropdown .category:hover .hoverLine{
            width: 100%;
        }

        nav .link-container .link{
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.3rem;
            font-weight: 500;
            position: relative;
        }
        nav .link-container .link:hover .hoverLine{
            width: 100%;
        }

        .hoverLine{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            border: none;
            border: 1px solid var(--text-color);
            transition: all .3s;
        }
        nav .user-container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: var(--text-color);
            gap: 10px;
            width: 40%;
            font-size: 1.3rem;
        }
        nav .user-container .total-price{
            margin-bottom: 0;
        }
        nav .user-container .cart{
            border: none;
            background-color: transparent;
            color: var(--text-color);
            display: flex;
            align-items: center;
        }
        nav .user-container .user{
            color: var(--text-color);
            display: flex;
            align-items: center;
            border: 1px solid var(--text-color);
            padding: 10px;
            border-radius: 50%;
        }

        nav .menu-container button{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            font-size: 2rem;
        }

/* dropdown menu */
        nav .custom-row-style{
            overflow: hidden;
        }
        .dropDown-menu-container{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: white;
            height: 340px;
            animation: dropdown ease-in-out forwards;
        }
        @keyframes dropdown{
            0%{
                height: 0;
            }
            90%{
                height: 350px;
            }
            100%{
                height: 340px;
            }
        }
        .dropDown-menu{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding: 20px 0;
            font-size: 1.3rem;
        }
        .dropDown-menu .link{
            text-decoration: none;
            color: var(--text-color);
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: 0;
            margin-bottom: 15px;
        }
        .dropDown-menu .custom-dropdown{
            padding: 15px;
            font-size: 1.3rem;
        }
        .dropDown-menu .custom-dropdown .category{
            text-decoration: none;
            color: var(--text-color);
        }
        .dropDown-menu .dropdown-user-container{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .dropDown-menu .dropdown-user-container button{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            padding: 0;
            margin-bottom: 15px;
        }
        .dropDown-menu .dropdown-user-container button p{
            margin: 0;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .dropDown-menu .dropdown-user-container .user{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--text-color);
        }

/* hero section */
        .hero{
            background-image: url('./assets/heroImgs/Hero1.jpeg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hero .hero-flex-container .hero-content .content-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: white;
            color: var(--text-color);
            padding: 20px;
        }
        .hero .hero-flex-container .hero-content .content-container .hero-button{
            text-decoration: none;
            color: var(--text-color);
            border: 2px solid var(--border-color);
            padding: 5px 10px;
            width: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            font-weight: 500;
            transition: all .5s ;
        }
        .hero .hero-flex-container .hero-content .content-container .hero-button:hover{
            color: white;
            background-color: var(--text-color);
            border: 2px solid var(--border-color);
        }

        .hero .hero-flex-container .hero-content .content-container .hero-button .hero-arrow .arrow-icon{
            transition: all .5s;
        }
        .hero .hero-flex-container .hero-content .content-container .hero-button:hover .hero-arrow .arrow-icon{
            color: white;
            transform: translateX(10px);
        }

/* Best selling products */
        .bestselling-head-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            color: white;
        }
        .bestselling-head-container .viewAll-btn{
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
        }
        .bestselling-head-container .viewAll-btn .arrow-icon{
            transition: all .5s;
        }
        .bestselling-head-container .viewAll-btn:hover .arrow-icon{
            transform: translateX(6px);
        }
        .bestSellingProducts-container .category-container{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
        .bestSellingProducts-container .category-container a{
            text-decoration: none;
            color: white;
            padding: 5px 15px;
            background-color: var(--lighGreen);
        }

/* bestSellCategories-container*/
        .allcategory-section .AllCategory-container .row-custom{
            height: 60vh;
            overflow: hidden;
            display: flex;
            gap: 10px;
            padding: 20px 0;
            /* background-color: lightcoral; */
            position: relative;
        }
        .allcategory-section .AllCategory-container .row-custom .left-button{
            position: absolute;
            display: flex;
            align-items: center;
            left: 0px;
            top: 45%;
            bottom: 45%;
            border: none;
            border-radius: 50%;
            padding: 10px 12px;
            opacity: .6;
            transition: all .3s;
        }
        .allcategory-section .AllCategory-container .row-custom .left-button:hover{
            opacity: 1;
        }
        .allcategory-section .AllCategory-container .row-custom .right-button{
            position: absolute;
            display: flex;
            align-items: center;
            right: 0;
            top: 45%;
            bottom: 45%;
            border: none;
            border-radius: 50%;
            padding: 10px 12px;
            opacity: .6;
            transition: all .3s;
        }
        .allcategory-section .AllCategory-container .row-custom .right-button:hover{
            opacity: 1;
        }
        .allcategory-section .AllCategory-container .custom-card{
            min-width: 16rem;
            max-width: 16rem;
            max-height: 22rem;
            min-height: 22rem;
            background-color: var(--lighGreen);
        }

        .allcategory-section .AllCategory-container .custom-card .img-container{
            width: 100%;
        }
        .allcategory-section .AllCategory-container .custom-card .img-container img{
            max-height: 13rem;
            min-height: 13rem;
            min-width: 100%;
            max-width: 100%;
        }

        .allcategory-section .AllCategory-container .custom-card .product-info{
            padding: 10px;
            display: flex;
            flex-direction: column;
            color: white;
        }
        .allcategory-section .AllCategory-container .custom-card .product-info button{
            border: 2px solid white;
            background-color: transparent;
            padding: 8px 0;
            color: white;
            font-weight: 500;
        }

/* category */
        .category-section .category-container .LiveStock-category{
            background-image: url('https://www.provisioneronline.com/ext/resources/Issues/2018/December/1218NP_economicoutlook_img1.jpg?1544825511');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 41rem;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media(max-width:766px) {
            .category-section .category-container .LiveStock-category{
                background-image: url('https://www.provisioneronline.com/ext/resources/Issues/2018/December/1218NP_economicoutlook_img1.jpg?1544825511');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 20rem;
                margin-bottom: 20px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .category-section .category-container .LiveStock-category .content{
            padding: 20px;
            width: 100%;
            font-size: 1rem;
            background: rgba( 255, 255, 255, 0.4 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10.5px );
            -webkit-backdrop-filter: blur( 10.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .category-section .category-container .LiveStock-category .content .content-btn{
            border: 2px solid var(--text-color);
            color: black;
            text-decoration: none;
            padding: 8px 20px;
            width: 10rem;
            font-weight: 500;
            transition: all .3s;
        }
        .category-section .category-container .LiveStock-category .content .content-btn:hover{
            background-color: var(--text-color);
            color: white;
        }

        .category-section .category-container .FishAndSeaShells-category{
            background-image: url('https://cdn.britannica.com/28/220228-050-01DFA7B1/seafood-market-Istanbul-Turkey.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 0 10px;
            height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .category-section .category-container .FishAndSeaShells-category .content{
            padding: 20px;
            font-size: 1rem;
            background: rgba( 255, 255, 255, 0.4 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10.5px );
            -webkit-backdrop-filter: blur( 10.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .category-section .category-container .FishAndSeaShells-category .content .content-btn{
            border: 2px solid var(--text-color);
            color: black;
            text-decoration: none;
            padding: 8px 20px;
            width: 10rem;
            font-weight: 500;
            transition: all .3s;
        }
        .category-section .category-container .FishAndSeaShells-category .content .content-btn:hover{
            background-color: var(--text-color);
            color: white;
        }
        .category-section .category-container .UpAndLowLandVege-category{
            background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX16293921.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 0 10px;
            height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .category-section .category-container .UpAndLowLandVege-category .content{
            padding: 20px;
            font-size: 1rem;
            background: rgba( 255, 255, 255, 0.4 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 10.5px );
            -webkit-backdrop-filter: blur( 10.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .category-section .category-container .UpAndLowLandVege-category .content .content-btn{
            border: 2px solid var(--text-color);
            color: black;
            text-decoration: none;
            padding: 8px 20px;
            width: 10rem;
            font-weight: 500;
            transition: all .3s;
        }
        .category-section .category-container .UpAndLowLandVege-category .content .content-btn:hover{
            background-color: var(--text-color);
            color: white;
        }
/* footer section */
        footer{
            background-color: rgb(32,29,29);
            color: white;
            text-align: center;
        }

        footer .footer-input-container form input{
            width: 50%;
            padding: 10px 10px;
            border: none;
            outline: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        footer .footer-input-container form button{
            border: none;
            padding: 10px 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--text-color);
            color: white;
            font-weight: 500;
        }
        footer .footer-left-container p{
            margin-top: 10px;
        }
        footer .footer-center-container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        footer .footer-center-container .social{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
        }
        footer .footer-center-container .social a{
            color: rgb(105, 103, 103);
            font-size: 1.3rem;
        }
        footer .footer-center-container .social a:hover{
            color: white;
        }
        footer .footer-right-container .footerLinks{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        footer .footer-right-container .footer-link{
            color: rgb(105, 103, 103);
            text-decoration: none;
        }
        footer .footer-right-container .footer-link:hover{
            color: white;
            text-decoration: none;
        }