@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Roboto:wght@400;500;700&display=swap');

#body{
    background-color: rgb(67,94,57);
    font-family: 'Permanent Marker', cursive;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
    :root{
        --text-color:rgb(67,94,57);
        --border-color:rgb(67,94,57);
        --lighGreen:rgb(81, 110, 71);
        --whiteBackground:rgb(232, 236, 239);
        --orange:rgb(204,128,32);
    }

    /* Track */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--orange); /* or any other color you prefer */
    border-radius: 5px;
  }
  
  /* Track */
  ::-moz-scrollbar {
    width: 8px; /* Set the width of the track */
  }
  
  /* Handle */
  ::-moz-scrollbar-thumb {
    background-color: #888; /* or any other color you prefer */
    border-radius: 5px;
  }

        #nav{
            overflow: hidden;
            background-color: white;
            margin: 10px 0;
            padding: 10px 0;
        }
        #navBar{
            left: 0;
            right: 0;
            position: fixed;
            padding: 10px 0;
            background-color: white;
            animation: navbar ease-in-out forwards;
            transition: all .5s;
        }
            @keyframes navbar{
                0%{
                    margin:0;
                    transform: translateY(-115px);
                    transform: scale(0);
                }
                50%{
                    transform: scale(1);
                    transform: translateY(-80px);
                    z-index: 3;
                }
                100%{
                    transform: translateY(0);
                    transform: scale(1);
                    z-index: 3;
                }
            }

    /* when nav menu is close */
        nav .flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            z-index: 2;
        }
    /* when nav menu is open */
        nav .nav-on-flex-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            z-index: 2;
        }
        nav .logo-container{
            width: 150px;
        }
        nav .link-container{
            display: flex;
            align-items: center;
            gap: 15px;
            width: 40%;
        }
        nav .link-container .shop{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
        }
        nav .link-container .custom-dropdown{
            padding: 10px;
        }
        nav .link-container .custom-dropdown .category{
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.3rem;
            position: relative;
        }
        nav .link-container .custom-dropdown .category:hover .hoverLine{
            width: 100%;
        }

        nav .link-container .link{
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.3rem;
            font-weight: 500;
            position: relative;
        }
        nav .link-container .link:hover .hoverLine{
            width: 100%;
        }

        .hoverLine{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            border: none;
            border: 1px solid var(--text-color);
            transition: all .3s;
        }
        nav .user-container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: var(--text-color);
            gap: 10px;
            width: 40%;
            font-size: 1.3rem;
        }
        nav .user-container .total-price{
            margin-bottom: 0;
        }
        nav .user-container .cart{
            border: none;
            background-color: transparent;
            color: var(--text-color);
            display: flex;
            align-items: center;
        }
        nav .user-container .user{
            color: white;
            background-color: var(--text-color);
            display: flex;
            align-items: center;
            border: 1px solid var(--text-color);
            padding: 3px;
            border-radius: 50%;
            font-size: 2rem;
        }
        nav .user-container .cart{
            font-size: 2rem;
        }

        nav .menu-container button{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            font-size: 2rem;
        }
/* hero section styles */
        .carousel{
            background-color: rgb(255,255,255);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .carousel .slide-1 .slide-1-btn{
            position: absolute;
            left: 8%;
            bottom: 20%;
            text-decoration: none;
            background-color: var(--orange);
            width: 20%;
            padding: 1% 0;
            text-align: center;
            color: white;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: 500;
        }
        .carousel .slide-1 .slide-1-img{
            width: 100%;
        }
                @media(max-width:846px){
                    .carousel .slide-1 .slide-1-btn{
                        position: absolute;
                        left: 8%;
                        bottom: 18%;
                        text-decoration: none;
                        background-color: var(--orange);
                        width: 20%;
                        padding: 1% 0;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                @media(max-width:584px){
                    .carousel .slide-1 .slide-1-btn{
                        position: absolute;
                        left: 6%;
                        bottom: 16%;
                        text-decoration: none;
                        background-color: var(--orange);
                        width: 25%;
                        padding: 1% 0;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                @media(max-width:453px){
                    .carousel .slide-1 .slide-1-btn{
                        position: absolute;
                        left: 6%;
                        bottom: 14%;
                        text-decoration: none;
                        background-color: var(--orange);
                        width: 25%;
                        font-size: 14px;
                        padding: 1% 0;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                @media(max-width:387px){
                    .carousel .slide-1 .slide-1-btn{
                        position: absolute;
                        left: 6%;
                        bottom: 12%;
                        text-decoration: none;
                        background-color: var(--orange);
                        width: 27%;
                        font-size: 13px;
                        padding: 1% 0;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
                @media(max-width:280px){
                    .carousel .slide-1 .slide-1-btn{
                        position: absolute;
                        left: 6%;
                        bottom: 12%;
                        text-decoration: none;
                        background-color: var(--orange);
                        width: 30%;
                        font-size: 13px;
                        padding: 1% 0;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
        .carousel .slide-2{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .carousel .slide-2-btn{
            position: absolute;
            left: 45%;
            bottom: 15%;
            border-radius: 10px;
            text-decoration: none;
            background-color: var(--text-color);
            color: white;
            font-weight: 500;
            padding: 1%;
            width: 10%;
            text-align: center;
        }
                @media(max-width:918px){
                    .carousel .slide-2-btn{
                        position: absolute;
                        left: 43%;
                        bottom: 12%;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 14%;
                        text-align: center;
                    }
                }
                @media(max-width:622px){
                    .carousel .slide-2-btn{
                        position: absolute;
                        left: 40%;
                        bottom: 9%;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 17%;
                        text-align: center;
                    }
                }
                @media(max-width:534px){
                    .carousel .slide-2-btn{
                        position: absolute;
                        left:40%;
                        bottom: 6%;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 20%;
                        text-align: center;
                    }
                }
                @media(max-width:422px){
                    .carousel .slide-2-btn{
                        position: absolute;
                        left:37%;
                        bottom: 4%;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 25%;
                        text-align: center;
                    }
                }
                @media(max-width:342px){
                    .carousel .slide-2-btn{
                        position: absolute;
                        left:35%;
                        bottom: 4%;
                        font-size: 13px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 29%;
                        text-align: center;
                    }
                }
        .carousel .slide-3{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .carousel .slide-3-btn{
            position: absolute;
            left: 45%;
            bottom: 40%;
            border-radius: 10px;
            text-decoration: none;
            background-color: var(--text-color);
            color: white;
            font-weight: 500;
            padding: 1%;
            width: 10%;
            text-align: center;
        }
                @media(max-width:926px){
                    .carousel .slide-3-btn{
                        position: absolute;
                        left: 45%;
                        bottom: 40%;
                        border-radius: 10px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 13%;
                        text-align: center;
                    }
                }
                @media(max-width:712px){
                    .carousel .slide-3-btn{
                        position: absolute;
                        left: 43%;
                        bottom: 40%;
                        border-radius: 10px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 15%;
                        text-align: center;
                    }
                }
                @media(max-width:662px){
                    .carousel .slide-3-btn{
                        position: absolute;
                        left: 42%;
                        bottom: 38%;
                        border-radius: 10px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 19%;
                        text-align: center;
                    }
                }
                @media(max-width:515px){
                    .carousel .slide-3-btn{
                        position: absolute;
                        left: 41%;
                        bottom: 36%;
                        border-radius: 10px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 21%;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                @media(max-width:400px){
                    .carousel .slide-3-btn{
                        position: absolute;
                        left: 39%;
                        bottom: 33%;
                        border-radius: 10px;
                        text-decoration: none;
                        background-color: var(--text-color);
                        color: white;
                        font-weight: 500;
                        padding: 1%;
                        width: 24%;
                        font-size: 12px;
                        text-align: center;
                    }
                }
        .carousel .prev-button {
            display: flex;
            align-items: center;
            position: absolute;
            left: 1%;
            border: none;
            color: var(--orange);
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
            opacity: .5;
            transition: all .3s;
        }
        .carousel .next-button {
            display: flex;
            align-items: center;
            position: absolute;
            right: 1%;
            border: none;
            color: var(--orange);
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
            opacity: .5;
            transition: all .3s;
        }
        .carousel .prev-button:hover {
            opacity: 1;
        }
        .carousel .next-button:hover  {
            opacity: 1;
        }
        
        .carousel .slide {
            display: none;
        }
        .carousel .slide.active {
            display: block;
        }
/* dropdown menu */
        nav .custom-row-style{
            overflow: hidden;
        }
        .dropDown-menu-container{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: white;
            height: 340px;
            animation: dropdown ease-in-out forwards;
        }
        @keyframes dropdown{
            0%{
                height: 0;
            }
            90%{
                height: 350px;
            }
            100%{
                height: 340px;
            }
        }
        .dropDown-menu{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding: 20px 0;
            font-size: 1.3rem;
        }
        .dropDown-menu .link{
            text-decoration: none;
            color: var(--text-color);
            font-weight: 500;
            border: none;
            background-color: transparent;
            padding: 0;
            margin-bottom: 15px;
        }
        .dropDown-menu .custom-dropdown{
            padding: 15px;
            font-size: 1.3rem;
        }
        .dropDown-menu .custom-dropdown .category{
            text-decoration: none;
            color: var(--text-color);
        }
        .dropDown-menu .dropdown-user-container{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .dropDown-menu .dropdown-user-container button{
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            color: var(--text-color);
            padding: 0;
            margin-bottom: 15px;
        }
        .dropDown-menu .dropdown-user-container button p{
            margin: 0;
            font-size: 1.3rem;
            font-weight: 500;
        }
        .dropDown-menu .dropdown-user-container .user{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--text-color);
        }

/* hero section */


/* Best selling products */
        .bestselling-head-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            color: white;
        }
        .bestselling-head-container .viewAll-btn{
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
        }
        .bestselling-head-container .viewAll-btn .arrow-icon{
            transition: all .5s;
        }
        .bestselling-head-container .viewAll-btn:hover .arrow-icon{
            transform: translateX(6px);
        }
        .bestSellingProducts-container .category-container{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
        .bestSellingProducts-container .category-container a{
            text-decoration: none;
            color: white;
            padding: 5px 15px;
            background-color: var(--orange);
            margin-bottom: 10px;
        }
/* best sellingsection */ 
        .allproducts-best-sell .flex-container{
            display: flex;
            align-items: center;
            overflow: hidden;
            gap: 10px;
            padding: 15px 0;
            position: relative;
            width: 100%;
        }
        .product-containers{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .left-button{
            position: absolute;
            left: 0;
            z-index: 2;
            border: none;
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            opacity: .5;
            color: white;
            background-color: var(--text-color);
            transition: all .5s;
        }
        .right-button{
            position: absolute;
            right: 0;
            z-index: 2;
            border: none;
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            opacity: .5;
            color: white;
            background-color: var(--text-color);
            transition: all .5s;
        }
            .left-button:hover{
                opacity: 1;
            }
            .right-button:hover{
                opacity: 1;
            }
        .custom-box{
            min-width: 17rem;
            max-width: 17rem;
            max-height: 22rem;
            min-height: 22rem;
            background-color: var(--orange);
            filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
        }
        .custom-box .img-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .custom-box .img-container img{
            max-height: 12rem;
            min-height: 12rem;
            width: 100%;
        }
        .custom-box .product-info-container{
            padding: 10px;
            display: flex;
            flex-direction: column;
            color: white;
        }
        .custom-box .product-info-container p{
            font-size: 1.3rem;
        }
        .custom-box .product-info-container button{
            font-size: 1.3rem;
            border: none;
            background-color: white;
            color: var(--orange);
            padding: 8px 0;
            filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
        }
/* pagination */
        .pagination{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
        }
        .pagination .pagination-circle{
            padding: 5px;
            border: 1px solid var(--orange);
            border-radius: 50%;
        }
        .pagination .pagination-circle{
            padding: 5px;
            border: 1px solid var(--orange);
            border-radius: 50%;
        }
        .pagination .activePage{
            padding: 5px;
            border: 1px solid var(--orange);
            border-radius: 50%;
            background-color: var(--orange);
        }


/* footer section */
        footer{
            background-color: rgb(32,29,29);
            color: white;
            text-align: center;
        }

        footer .footer-input-container form input{
            width: 50%;
            padding: 10px 10px;
            border: none;
            outline: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        footer .footer-input-container form button{
            border: none;
            padding: 10px 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--text-color);
            color: white;
            font-weight: 500;
        }
        footer .footer-left-container p{
            margin-top: 10px;
        }
        footer .footer-center-container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        footer .footer-center-container .social{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
        }
        footer .footer-center-container .social a{
            color: rgb(105, 103, 103);
            font-size: 1.3rem;
        }
        footer .footer-center-container .social a:hover{
            color: white;
        }
        footer .footer-right-container .footerLinks{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        footer .footer-right-container .footer-link{
            color: rgb(105, 103, 103);
            text-decoration: none;
        }
        footer .footer-right-container .footer-link:hover{
            color: white;
            text-decoration: none;
        }